<div class=" vh-100 d-flex" *ngIf="cookieValue=='logout' || cookieValue=='' ">
  <div class="card  m-auto border-2" style="max-width: 50%;">
    <div class="card-body">
      <div class=" row  my-5">
        <img class=" w-25 m-auto" src="../assets/images.png" />
        <div class=" text-center">
          WIKI
        </div>
      </div>
      <form [formGroup]="formLogin" (ngSubmit)="handleSubmit()">
        <div class=" row w-50 m-auto gap-3">
          <input formControlName="userName" class=" rounded-3" placeholder="username" type="text">
          <input formControlName="password" class="rounded-3" placeholder="password" type="password">
        </div>
        <div class="d-flex justify-content-between w-50 m-auto my-5">
          <button type="submit" class="btn btn-warning"> Sign In</button>
          <button (click)="navigateToRegis()" class="btn btn-dark"> Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>
<router-outlet *ngIf="cookieValue=='login'"></router-outlet>